---
import Shell from '@layouts/Shell.astro';
import MainBanner from '@components/MainBanner.astro';
import FeaturedSpeakers from '@components/FeaturedSpeakers.astro';
import Sponsors from '@components/Sponsors.astro';
import BlogFeed from '@components/BlogFeed.astro';
import { WebsiteConfig } from '../../config';
import { getRelativeLocaleUrlList } from 'astro:i18n';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from "../../i18n/utils.ts";

export function getStaticPaths() {
	return getRelativeLocaleUrlList().map((locale) => {
		let localeItem = locale.split('/')[1];
		return {
			params: { locale: localeItem },
		};
	});
}

const m = useTranslations(getLangFromUrl(Astro.url));

---

<Shell title="Home">
	<MainBanner/>
		<section class="p-section">
			<div class="p-section--shallow">
				<div class="row">
					<hr class="p-rule">
				</div>
		  	<div class="row--50-50">
				<div class="col">
					<h2>{m("videoBanner_title")}</h2>
					<p>{m("videoBanner_description1")}</p>
					<p>{m("videoBanner_description2")}</p>
				</div>
				<div class="col">
					<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XZiOjSOwQDA?si=Z6HVE-qByeojdvW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
		  		</div>
			</div>
		</section>
	<FeaturedSpeakers/>
	<div class="p-section">
		<div class="row--50-50-on-large">
		<hr>
		<div class="col">
			<div class="p-section--shallow">
				<div class="p-image-container--16-9 is-cover p-image-container--3-2-on-medium p-image-container--16-9-on-small">
					<Image
						class="p-image-container__image"
						src={WebsiteConfig.cityBanner.cityImage}
						alt="Microsoft Korea Hall"
						loading="lazy"
						width={800}
						height={450}
					/>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="p-section--shallow">
			<h2>{m("travelBanner_title")}</h2>
			</div>
			<div class="p-section--shallow">
			<p>
				{m("travelBanner_description")}
			</p>
			</div>
			<ul class="p-list--divided">
				<li class="p-list__item is-ticked"><a href="./venue-and-safety">{m("travelBanner_listitem4")}</a></li>
			</ul>
		</div>
		</div>
	</div>
	<BlogFeed/>
	<Sponsors/>
</Shell>
