---
import { getRelativeLocaleUrlList } from 'astro:i18n';
import { WebsiteConfig } from 'src/config';
import { defaultLang } from "../i18n/ui";

export function getStaticPaths() {
	return getRelativeLocaleUrlList().map((locale) => {
		let localeItem = locale.split('/')[1];
		return {
			params: { locale: localeItem },
		};
	});
}

---
<html lang="ko">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="refresh" content=`0;url=/${defaultLang}/` />
        <title>{WebsiteConfig.siteTitle}</title>
    </head>
