---
import { getRelativeLocaleUrlList } from 'astro:i18n';
import { WebsiteConfig } from '../config';
import { baseLocale } from "../paraglide/runtime";

export function getStaticPaths() {
	return getRelativeLocaleUrlList().map((locale) => {
		let localeItem = locale.split('/')[1];
		return {
			params: { locale: localeItem },
		};
	});
}
---
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content={`0;url=/${baseLocale}/`} />
        <title>{WebsiteConfig.siteTitle}</title>
    </head>
